body
{
    font-family: 'Raleway';
    margin: auto;
    max-width: 1400px;
    font-size: 100%;
}

#bloc_page 
{   
    margin: 0px 20px 0px 20px; 
}
/* Header */
header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 0px 15px 0px; 
    margin-right: 20px;
}

header img 
{
    width: 8em;
    height: 2.5em;
    margin-right: auto; 
    box-sizing: border-box; 

}
/* Navigation */
nav ul
{   
    list-style-type: none; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
}   

nav li
{
    color:black;
    display: list-item;
    margin-right: 50px;
}

nav a
{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

nav ul a:hover
{
    color: #0065FC; 
    border-top: 2px solid #0065FC; 
    padding-top: 27px;
}    

#inscrire 
{
   font-weight: bolder;
   color: #0065FC; 
   box-sizing: border-box; 
   text-decoration: none;
}

/* Section recherche */

.recherche
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.mapmarker 
{
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2; 
    font-size: 1.2em; 
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.champs_de_recherche 
{
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    border-left: none;
    border-right: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: initial;
    padding-left: 20px;
    height: 50px;
}

.bouton
{
    width: 7vw;
    min-width: 10px;
    background-color: #0065fc;
    font-family: "Raleway"; 
    font-weight: 700;
    color: white; 
    font-size: 1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px; 
}

#bouton_loupe
{
    visibility: hidden;
    margin-left: -100px;
}

.filtres
{
    font-weight: bolder;
    padding-right: 20px; 
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

.titre_filtre
{
    font-weight: bolder;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 1em;
}

.filtres i
{
    color: #0065FC;
    font-size: 1.1em;
    text-align: center;
    border: solid #deebff 1px;
    background-color: #deebff;
    border-radius: 100%;
    position: absolute;   
    left: -5px;
    top: -1px;
}

#eco i
{
padding: 14px 13px 14px 13px;}
#romantique i 
{padding: 14px 15px 14px 15px;}

#animaux i 
{padding: 14px 14px 14px 14px;}

#famille i 
{padding: 14px 17px 14px 17px;}

.filtres a 
{
    color: black;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none; 
}

.filtres a:hover 
{
    color: #0065FC;
}

#eco, 
#famille,
#romantique,
#animaux
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px #e0e0e0 solid;
    border-radius: 50px;
    height: 45px;
    margin: 10px 20px 0px 0px;
    position: relative;
}

.intitule_filtres
{  
    margin: 0px 20px 0px 55px;
    font-size: 1em;
}

.informations
{
    display: flex; 
    flex-direction: row;
    align-items:center;
    margin-top: 24px;
    margin-bottom: 30px;
    font-stretch: extra-condensed;
}

.informations i
{
    margin-right: 5px;
    font-size: 0.7em;
    border: solid #e0e0e0 1px;
    border-radius: 100%;
    color: #0065fc;
    padding: 5px 9px 5px 9px;
}
/* Section hébergements */
.section_hebergements
{
    display: flex; 
    flex-direction: row;
    width: auto;
}

#hebergements_principale 
{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 67%;
    margin-right: 2.1em; 
}

.titre_hebergements 
{
    padding: 15px 0px 0px 25px;
    font-weight: bold;
}

.hebergements
{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px;
}

.hebergements a
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
 
.hebergements img  
{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 61%; 
    width: 100%;
    object-fit: cover;
} 

.etoilebleue
{
    position:absolute; bottom: 3px;
    color: #0065FC; 
    font-size: 0.9vw;
    margin-left: 9px;
    margin-bottom: 0px;
}

.grise1
{
    color:  #e0e0e0;
    font-size: 0.9vw;   
}

.hebergements figure  
{
    padding: 2px 2px 2px 2px;
    width: 18.5vw;
    height: 14vw;
    min-width: 140px;
    min-height: 160px;
    margin: 5px 0px 30px 0px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 20px; 
    box-shadow:2px 2px 7px #e0e0e0;
    text-align: justify;
    position: relative;
}

.description1
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 9px;
    margin-bottom: 5px;  
}

.hebergements h4
{
    font-weight: bolder;
    font-stretch: ultra-condensed;
    font-size: 1.2vw; 
    min-width: 1.2em;
    margin-top: 3px;
    margin-bottom: 6px;
}

.prix1
{  
    font-size: 1vw;
}

.afficher
{
    margin-top: 25px;
    margin-bottom: 23px;
    margin-left: 40px;
}
/* ASIDE LES PLUS POPULAIRES */ 
#plus_populaires
{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.titre_populaires 
{
    margin: 35px 30px 25px 30px;
    display: flex;
    justify-content: space-between;
} 

.populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.populaires h4
{
    font-weight: bolder;
    font-stretch: ultra-condensed;
    font-size: 1.2vw;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.prix2
{
    padding-left: 20px;
    font-size: 0.8rem;
}

.description2 
{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.etoilebleue2 
{
    position: absolute;
    bottom: 5px;
    color: #0065FC; 
    font-size: 0.9vw;
    padding-left: 20px;
}

.grise2
{
    color:  #e0e0e0;
    font-size: 0.9vw;
}

.populaires a
{
    color: black;
    text-decoration: none;
    cursor: pointer; 
}

.populaires img 
{
    float: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 40%;
    height: 100%; 
    object-fit: cover;
} 

.populaires figure
{
    margin: 4px 30px 30px 30px;
    width: 24vw;
    height: 10vw;
    min-width: 300px;
    min-height: 110px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 15px; 
    padding: 2px 2px 2px 2px; 
    box-shadow:2px 2px 7px #e0e0e0;
    text-align: justify; 
    position: relative;
}
/* SECTION ACTIVITÉS */ 
.activites
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: 20px 5px 15px 5px;
}

#titre_activites
{
    margin-top: 65px;
    margin-bottom: 2px;
}

.activites a
{
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.activites h3
{
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 17px;
}

#vieuxport 
{
   width: 22vw;
   height: 416px;
   border: 1px solid white; 
   background-color: white;
   border-radius: 15px; 
   border-top: none;
   border-right: none; 
   border-left: none;
   box-shadow:2px 2px 7px #e0e0e0;
} 

#vieuxport img
{
    width: 100%;
    height: 88%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#pomegues_frioul,
#dame_champs
{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
#calanques
{
   width: 22vw;
   height: 416px;
   border: 1px solid white; 
   background-color: white;
   border-radius: 15px; 
   border-top: none;
   border-right: none; 
   border-left: none;
   box-shadow:2px 2px 7px #e0e0e0;
}

#calanques img
{
    width: 100%;
    height: 88%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

#pomegues
{
   width: 22vw;
   height: 220px;
   border: 1px solid white; 
   background-color: white;
   border-radius: 15px; 
   border-top: none;
   border-right: none; 
   border-left: none;
   box-shadow:2px 2px 7px #e0e0e0;
}

#pomegues img
{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%; 
    height: 80%;
    object-fit: cover;
}

#frioul
{
    width: 22vw;
    height: 156px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 15px; 
    border-top: none;
    border-right: none; 
    border-left: none;
    box-shadow:2px 2px 7px #e0e0e0;
}

#frioul img
{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%; 
    height: 68%;
    object-fit: cover;
}  

#notredamede
{
   width: 22vw;
   height: 180px;
   border: 1px solid white; 
   background-color: white;
   border-radius: 15px; 
   border-top: none;
   border-right: none; 
   border-left: none;
   box-shadow:2px 2px 7px #e0e0e0;
}

#notredamede img
{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 72%;
    object-fit: cover;
} 

#longchamps
{
   width: 22vw;
   height: 195px;
   border: 1px solid white; 
   background-color: white;
   border-radius: 15px; 
   border-top: none;
   border-right: none; 
   border-left: none;
   box-shadow:2px 2px 7px #e0e0e0;
}

#longchamps img
{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 74%;
    object-fit: cover;
} 
/*FOOTER*/ 
.footer 
{
    display:flex; 
    flex-direction: row; 
    align-items: flex-start;
    margin-top: 60px; 
    background-color: #F2F2F2; 
    height: auto;
    width: auto;
} 

.titres_footer
{
    margin-top: 40px; 
    margin-bottom: 5px;
    font-weight: bolder;
}

.footer ul
{
    font-size: 1rem;
    list-style-type: none; 
    line-height: 2.2;
    margin-right: auto;
    margin-left: auto;
} 

.footer li 
{
    line-height: 1.9em;
}

#a_propos
{
   margin-right: 135px;
}

#nos_hebergements
{
    margin-right: 245px;
}

/*Partie Responsive tablette*/ 
@media all and (min-width: 768px) and (max-width: 1023px)
{
    body
    {
       width: auto; 
       margin: auto; 
       padding: 0px; 
       box-sizing: border-box; 
    }

    #bloc_page 
    {   
        margin-left: 0px; 
        margin-right: 0px;
        padding: 5px;
    } 
    /* Header */
    header 
    {
       flex-wrap: wrap; 
       padding-top: 20px;
       margin-right: 0px;
       width: 100%; 
       
    } 

    header img:nth-child(1)
    {
        margin-right: 0px;
    }
    
    #inscrire:nth-child(3) 
    {
        margin-right: 20px;
        font-weight: bold;
        order: 2;
    }
    /* Navigation */
    nav:nth-child(2) 
    {   
        width: 100%; 
        order: 3;
        padding-top: 15px;
    }
    
    nav ul 
    {   
       width: 100%;
       padding: 0px; 
       margin-top: 15px;
    }   
    
    nav li
    {
        width: 50%; 
        border-bottom: 3px solid #f2f2f2; 
        padding-bottom: 15px; 
        margin: 0px; 
        text-align: center; 
    }

   nav li a:hover 
     {
        border-top: none; 
     }

    nav li:hover 
     {   
        border-color: #0065FC; 
        color: #0065FC;  
     }
/*Section recherche*/
#blocrecherche
{
    padding: 0px 15px 0px 15px;
}

    .titre_recherche
{
    padding-left: 5px;
    padding-right: 5px;
} 

p 
{
    padding-left: 5px;
}

.recherche
{
   padding-left: 5px; 
   padding-top: 10px;
}

.mapmarker 
{   
    height: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.champs_de_recherche 
{  
    width: 70vw;
}

.bouton
{
    visibility: hidden;
}

#bouton_loupe
{   
    width: 48px;
    height: 50px;
    visibility:visible;
    background-color: #0065fc;
    font-family: "Raleway"; 
    font-weight: 700;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.filtres
{
   display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding-left: 5px;
    font-size: 1em;
}

#eco, 
#famille,
#romantique,
#animaux
{
    margin-top: 10px;
    margin-right: 8px;
}
/* Section hébergements */ 
.section_hebergements
{
   width:auto;
   flex-direction: column-reverse;
}

#hebergements_principale
{ 
    flex-direction: column;
    border: none; 
    border-radius: 0%;
    background-color: white;
    margin-right: 0px;
    width: 100%;
}

.titre_hebergements
{
    font-size: 2rem;
    padding-left: 20px; 
    margin-bottom: 5px;
}

.hebergements 
{
    display: flex; 
}

.hebergements figure 
{
    width: 95vw;
    height: 450px;
    margin: 10px 15px 10px 15px;
}

.hebergements img 
{
    height: 75%;
}

#plus_populaires
{
    border: none; 
    border-radius: 0%;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
}

.titre_populaires
{
    font-size: 2rem;
    margin: 25px 15px 10px 20px;
}

#chart i
{
    margin-right: 10px;
}

.populaires 
{
    display: flex; 
    align-items: initial;
    width: 100%; 
    padding-bottom: 25px;
}

.populaires figure
{
    width: 95%;
    height: 300px; 
    margin: 10px 15px 10px 15px;
}

.populaires h4, .hebergements h4  
{
    font-size: 1.5rem;
    margin-right: 12px;
}

.description2
{
    padding-top: 30px;
}

.prix2 
{
    font-size: 1.2rem;
    margin-bottom: 90px;
} 

.prix1 
{
    font-size: 1.2rem;
}

.etoilebleue2, .etoilebleue
{
    font-size: 1.2rem;
}

.grise2, .grise1 
{
    font-size: 1.2rem;
}

.afficher 
{ 
    font-size: 1.7em;
    margin-top: 20px;
    margin-left: 15px;
}
/*section activités*/ 
.activites 
{
    flex-direction: column; 
    justify-content: space-between;
}

#titre_activites 
{   
    margin-top: 35px;
    margin-right: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 2.1rem;
}

#vieuxport, #calanques,#pomegues, #frioul, #notredamede, #longchamps 
{
    width: 95vw;
    height: 400px; 
    margin: 10px 15px 10px 10px;
    position: relative; 
}  

.activites h3
{position: absolute; bottom: 10px; font-size: 1.4rem;}

#pomegues img, 
#frioul img, 
#notredamede img, 
#longchamps img, 
#vieuxport img, 
#calanques img
{
    width: 100%; 
    height: 80%;
    object-fit: cover;
}

/*FOOTER*/

.footer 
{
    flex-direction: column;
    padding-top: 20px;
}

.footer ul 
{
    margin-left: 0px;
}

.titres_footer
{
    margin-top: 0px;
}

#a_propos, 
#nos_hebergements, 
#assistance   
{
    margin-right:0px;
    margin-left: -15px;
    margin-bottom: 0px;
}
} 

/*Partie Responsive Mobile*/ 
@media all and (max-width: 767px) 
{
    body
    { 
       margin: 0px; 
       padding: 0px; 
    }

    #bloc_page 
    {   
        margin-left: 0px; 
        margin-right: 0px;
    } 
    /* Header */
    header 
    {
       flex-wrap: wrap; 
       padding-top: 20px;
       margin-right: 0px;
       width: 100%; 
    } 

    header img:nth-child(1)
    {
        margin-right: 0px;
    }
    
    #inscrire:nth-child(3) 
    {
        margin-right: 20px;
        font-weight: bold;
        order: 2;
    }
    /* Navigation */
    nav:nth-child(2) 
    {   
        width: 100%; 
        order: 3;
        padding-top: 15px;
    }
    
    nav ul 
    {   
       width: 100%;
       padding: 0px; 
       margin-top: 15px;
    }   
    
    nav li
    {
        width: 50%; 
        border-bottom: 3px solid #f2f2f2; 
        padding-bottom: 15px; 
        margin: 0px; 
        text-align: center; 
    }

   nav li a:hover 
     {
        border-top: none; 
     }

    nav li:hover 
     {   
        border-color: #0065FC; 
        color: #0065FC;  
     }
/*Section recherche*/
    #blocrecherche
{  
    margin-top: -30px;
    padding-left: 20px; 
    padding-right: 20px; 
    line-height: 1.5em;
} 

.titre_recherche 
{
    font-size: 0.9em;
    padding-left: 10px; 
    padding-right: 10px; 
}


.mapmarker 
{   
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.champs_de_recherche 
{  
   font-weight: bolder; 
    padding-left: 20px; 
    width: 90vw;
    position: relative; 
}

.bouton
{
    visibility: hidden;
    margin-right: 0px; 
    padding-right: 0px;
}

#bouton_loupe
{   
    width: 45px;
    height: 50px;
    visibility: visible;
    background-color: #0065fc;
    font-family: "Raleway"; 
    font-weight: 700;
    color: white;
    font-size: 0.9em;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    position: absolute;   
    right: 20px;
}

.filtres
{
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between; 
}

.titre_filtre
{
    font-size: 1em;
    width: 100%;
}

.intitule_filtres
{font-size: 1em;}

.informations 
{align-items:baseline;}

.informations i 
{
    font-size: 0.5em;
}

.informations p
{
    font-size: 1em;
    margin-left: 2px; 
    padding-top: 5px;
}

/*Section hébergements*/ 
.section_hebergements
{
   width:auto;
   flex-direction: column-reverse;
}

#hebergements_principale
{ 
    border: none; 
    border-radius: 0%;
    background-color: white;
    margin-right: 0px;
    width: 100%;
}

.titre_hebergements
{
    padding-left: 20px; 
    margin-bottom: 5px;
}

.hebergements 
{
    display: flex; 
    flex-direction: column;
}

.hebergements figure 
{
    width: 90%;
    height: 185px;
    margin: 10px 15px 10px 15px;
}

#plus_populaires
{
    border: none; 
    border-radius: 0%;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
}

.titre_populaires
{
    margin-top: 25px;
    margin-left: 20px; 
    margin-right: 15px;
    margin-bottom: 10px;
}

#chart i
{
    margin-right: 10px;
}

.populaires 
{
    display: flex; 
    flex-direction: column; 
    align-items: initial;
    width: 100%; 
    margin: 0px;
    padding-bottom: 25px;
}

.populaires figure
{
    width: 90%;
    height: 145px;
    margin: 10px 15px 10px 15px;
}

.populaires h4, .hebergements h4  
{
    font-size: 0.9em;
    margin-right: 12px;
}

.prix2 
{
    font-size: 0.8em;
    margin-bottom: 10px;
} 
.prix1 
{
    font-size: 0.8em;
}
.etoilebleue2, .etoilebleue
{
    font-size: 0.75em;
}

.grise2, .grise1 
{font-size: 1em;}

.afficher 
{ 
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1em;
}
/*section activités*/ 
.activites 
{
    flex-direction: column; 
    justify-content: space-between;
}

#titre_activites 
{   
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#vieuxport, #calanques,#pomegues, #frioul, #notredamede, #longchamps 
{
    width: 92%;
    height: 195px; 
    margin: 10px 15px 10px 15px;
}  

#pomegues img, 
#frioul img, 
#notredamede img, 
#longchamps img, 
#vieuxport img, 
#calanques img
{
    width: 100%; 
    height: 80%;
    object-fit: cover;
}
/*FOOTER*/
.footer 
{
    flex-direction: column;
    padding-top: 20px;
}

.footer ul 
{
    margin-left: 0px;
}

.titres_footer
{
    margin-top: 0px;
}

#a_propos, 
#nos_hebergements, 
#assistance   
{
    margin-right:0px;
    margin-left: -15px;
    margin-bottom: 0px;
}
}