body
{
    font-family: 'Raleway';
}

#bloc_page 
{   
    margin-top: 30px;
    margin-left: 42px;
    margin-right: 30px;
}

/* Header */
header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 10px 20px 10px 20px; 
}


#logo_reservia 
{
    margin-left: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
} 

#logo_reservia img 
{
    margin-top: 18px;
    width: 120px;
    height: 40px;
}

/* Navigation */
nav
{   
    font-size: 12px;
    margin-top: 18px;
    flex-direction: row;
}

nav ul
{   
    list-style-type: none; 
    display: flex;
}   

nav li
{
    color:black;
    margin-right: 15px;
    margin-left: 40px;
}

nav a
{
    color: black;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC; 
    border-top: 3px solid #0065FC; 
}    

#inscrire 
{
    font-weight: bolder;
    color: #0065FC; 
    display: flex;
    margin-left: 40px;
}

h1 
{   
    color: black; 
    font-weight: bolder;
    font-size: 1.1em; 
}

h2
{   
    font-size: 0.9em;
    font-weight: bold;
}

p
{
    font-size: 0.8em;
} 

/* Section recherche */


.filtre
{
    margin-right: 80px;
}

#Filtres ul 
{
    list-style-type: none;
    display: flex;
}

#Filtres li
{
    margin-right: 40px;
}

#Filtres img 
{
    width: 30px;
    height: 20px;
    color:#0065FC;
}

/* Section hébergements */

.section_hébergements
{
    display: flex;
    justify-content: space-between;
}
#Hébergements 
{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 600px;
}

.H1_Hébergements
{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.afficher
{
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.Hébergements
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

.Hébergements img
{
    margin-top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 150px;
    height: 80px;
} 

#Auberge_la_cannebière
{    
    margin-left: 20px;
    border-radius: 20px;
    background-color: white;
}

#Hotel_du_port
{
    background-color: white;
    border-radius: 20px;
}

#Hotel_les_mouettes
{
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;
}

#Hotel_de_la_mer
{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
}

#Auberge_le_panier
{   
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}

#Hotel_chez_amina
{
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}
/* ASIDE LES PLUS POPULAIRES */ 
.populaires
{
    border: 1px grey solid;
    border-radius: 20px;
    width: 285px;
    height: 450px; 
}

.H1_populaires 
{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.Hotel_soleil
{
    float: left;
}

#les_plus_populaires img 
{
    border-radius: 20px;
    width: 190px;
    height: 110px;
} 


/* SECTION ACTIVITÉS */ 
.activités img
{
    width: 190px;
    height: 110px;
}
