body
{
    font-family: 'Raleway';
}

#bloc_page 
{   
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

/* Header */
header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 10px 20px 10px 20px; 
}


#logo_reservia 
{
    margin-left: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
} 

#logo_reservia img 
{
    margin-top: 18px;
    width: 120px;
    height: 40px;
}

/* Navigation */
nav
{   
    font-size: 12px;
    margin-top: 18px;
    flex-direction: row;
}

nav ul
{   
    list-style-type: none; 
    display: flex;
}   

nav li
{
    color:black;
    margin-right: 15px;
    margin-left: 40px;
}

nav a
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover
{
    color: #0065FC; 
    border-top: 2px solid #0065FC; 
    padding-top: 27px;
}    

#inscrire 
{
    font-weight: bolder;
    color: #0065FC; 
    display: flex;
    margin-left: 40px;
}

h1 
{   
    color: black; 
    font-weight: bolder;
    font-stretch: extra-expanded;
    font-size: 1.3em; 
}

h2
{   
    font-size: 0.9em;
    font-weight: bold;
}

p
{
    font-size: 0.8em;
} 

/* Section recherche */

.recherche
{
    display: flex;
    flex-direction: row;
}

.mapmarker 
{
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2; 
    font-size: 1.2em; 
    -webkit-box-pack: center;
    -webkit-box-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.searchfield 
{
   
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    border-left: none;
    border-right: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: initial;
    padding-left: 20px;
}

.searchbutton
{
    
    width: 100px;
    height: 50px;
    background-color: #0065fc;
    font-family: "Raleway"; 
    font-weight: 700;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    cursor: pointer;
}

.filtres
{
    font-size: 1.1em;
    font-weight: bolder;
    padding-right: 20px;
    margin-top: 20px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-items: flex-start; 
}

.titre_filtre
{
    margin-right: 35px;
    margin-top: 5px;
}

.bordure_icone
{
    border: solid #deebff 1px;
    background-color: #deebff;
    border-radius: 50%;
    padding: 14px 11px 14px 11px;
    margin-left: -2px;
}

.filtres i 
{
    color: #0065FC;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-top: 4px;
    margin-left: -5px;
}

.filtres a 
{
    color: black;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

#eco, 
#famille,
#romantique,
#animaux
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px #e0e0e0 solid;
    border-radius: 30px;
    height: 40px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 8px;  
}

.intitule_filtres
{  
    width: 100%;
    padding-right: 20px;
    padding-left: 12px;
}

.informations
{
    display: flex; 
    flex-direction: row;
    align-items:center;
}

.informations i
{
    float: left;
    margin-right: 12px;
    font-size: 0.8em;
    border: solid #f2f2f2 2px;
    border-radius: 50%;
    color: #0065fc;
    padding: 0.35em 0.75em;
}

/* Section hébergements */

.section_hebergements
{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

#hebergements_principale 
{
    
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-right: 20px;
    width: 850px; 
}

.titre_hebergements
{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-weight: bold;
}


.hebergements
{
    display: flex;
    flex-flow: row wrap;
}

.hebergements a
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
 
.hebergements img  
{
    margin-top: -13px;
    padding-bottom: 4px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 225px;
    height: 110px;
} 

.etoilebleue
{
    color: #0065FC; 
    font-size: 0.7em;
    padding-left: 7px;
}

#grise1
{
    color:  #e0e0e0;
    font-size: 0.7em;
}

.hebergements figure  
{
    padding: 2px 2px 2px 2px;
    width: 225px;
    height: 170px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 15px; 
    box-shadow:2px 2px 7px #e0e0e0;
    text-align: justify;
}

.description1
{
    padding-left: 7px;
   
}

#Auberge_la_cannebière
{    
  margin-left: 30px;
  margin-right: 5px;
}

#Hotel_du_port
{
  
}

#Hotel_les_mouettes
{
  margin-left: -25px;
}

#Hotel_de_la_mer
{
   margin-left: 30px;
}

#Auberge_le_panier
{   
    
}

#Hotel_chez_amina
{
    
}

.afficher
{
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 40px;
}

/* ASIDE LES PLUS POPULAIRES */ 

#plus_populaires
{
    display: flex;
    flex-direction: column;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 375px;
    height: 700px; 
}

.titre_populaires 
{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

#chart
{
    margin-right: 30px;
}

.Hotel_soleil
{
    float: left;
}

.Au_coeur
{
    float: left;
}

.Hotel_tout
{
    float: left;
}

.populaires a
{
    color: black;
    text-decoration: none;
    cursor: pointer; 
}

.populaires img 
{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: -13px;
    width: 140px;
    height: 150px; 
} 

.populaires figure
{
    margin-left: 30px;
    width: 300px;
    height: 150px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 15px; 
    padding: 2px 2px 2px 2px;
    box-shadow:2px 2px 7px #e0e0e0;
    text-align: justify;
}


/* SECTION ACTIVITÉS */ 
.activités
{
    display: flex;
    flex-direction: row; 
    margin-left: 10px;
}

#vieuxport img
{
    width: 275px;
    height: 450px;
}

#calanques img
{
    width: 275px;
    height: 450px;
}

#pomègues img
{
    width: 275px; 
}

#frioul img
{
    width: 275px; 
}  

#notredamede img
{
    width: 275px;
} 

#longchamps img
{
    width: 275px;
}